.degradado {
  background: black;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.degradado img {
  opacity: 1;
  transition: 0.5s opacity;
}

.degradado .degradado-desc {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0px;
  color: white;
  font-size: 1.2em;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
}

.degradado:hover img {
  opacity: 0.7;
}

.centrado {
  text-align: right;
  padding: 0.5em;
}

.textizq {
  text-align: left;
  padding: 0.5em;
}

.TextoDer {
  position: relative;
  left: 40%;
}

.textoAbajo {
  position: relative;
  bottom: -45%;
}

.alineadoIzq {
  text-align: left;
  padding: 0em;
}
